@use "./variables" as *;
@use "./functions" as *;

.leftSidebar {
  border: 0px;
  box-shadow: none !important;
  border-right: 1px solid rgba(var(--v-theme-borderLight), 0.8);
  .logo {
    padding-left: rem-calc(7px);
  }
  /*This is for the Vertical sidebar*/

  .smallCap {
    padding: 0 0 0 rem-calc(20px) !important;
  }
  .v-list {
    color: rgb(var(--v-theme-lightText));
    padding: 0;
    .v-list-item--one-line {
      &.v-list-item--active {
        border-right: 2px solid rgb(var(--v-theme-primary));
      }
    }
    .v-list-item--variant-plain,
    .v-list-item--variant-outlined,
    .v-list-item--variant-text,
    .v-list-item--variant-tonal {
      color: rgb(var(--v-theme-darkText));
    }
  }

  /*General Menu css*/
  .v-list-item {
    border-radius: 0;
    padding-inline-start: calc(
      #{rem-calc(20px)} + var(--indent-padding) / 2
    ) !important;
    .v-list-item__prepend {
      margin-inline-end: rem-calc(13px);
    }
    .v-list-item__append {
      font-size: 0.875rem;
      .v-icon {
        margin-inline-start: rem-calc(13px);
      }
      > .v-icon {
        --v-medium-emphasis-opacity: 0.8;
      }
    }
    .v-list-item-title {
      font-size: 0.875rem;
      line-height: rem-calc(14px);
      color: rgb(var(--v-theme-darkText));
    }
    &.v-list-item--active {
      color: rgb(var(--v-theme-primary));
    }
  }
  /*This is for the dropdown*/
  .v-list {
    .v-list-item--active {
      .v-list-item-title {
        font-weight: 500;
      }
    }
    .v-list-item__content {
      min-width: unset;
    }
    .sidebarchip .v-icon {
      margin-inline-start: rem-calc(-3px);
    }
  }

  .v-navigation-drawer--rail {
    .hide-menu {
      opacity: 0;
    }
    .v-list-item {
      .v-list-item__prepend {
        margin-left: rem-calc(8px);
        .anticon {
          svg {
            width: rem-calc(20px);
            height: rem-calc(20px);
          }
        }
      }
    }
    .v-list-item {
      padding-inline-start: calc(
        #{rem-calc(12px)} + var(--indent-padding) / 2
      ) !important;
    }
    .ExtraBox {
      display: none;
    }
    .sidebar-user {
      margin-left: rem-calc(-6px);
    }
    &.leftSidebar {
      .v-list-subheader {
        display: none;
      }
      .v-navigation-drawer__content {
        .pa-5 {
          padding-left: rem-calc(10px) !important;
          .logo {
            padding-left: 0;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1170px) {
    .mini-sidebar {
      .logo {
        width: rem-calc(40px);
        overflow: hidden;
      }
      .leftSidebar:hover {
        box-shadow: $box-shadow !important;
      }
      .v-navigation-drawer--expand-on-hover:hover {
        .logo {
          width: 100%;
        }
        .hide-menu {
          opacity: 1;
        }
      }
    }
  }
}
